body {
	display: flex;
	flex-direction: column;
	/*height: 100vh;*/
	background: gray
}
div {
	border-width: 5px;
	border-color: red;
}

.header {
	background: green;
	height: 200px;
	display: flex;
	flex-direction: column;
}
.top-line{
	display: flex;
	justify-content: space-between;
}

.cards {
	background: aqua;
	height: 200px;

}
.quote {
	background: orange;
	height: 150px;
}
.signup {
	background: yellow;
	height: 100px;
}
.footer {
	background: purple;
	height: 30px;
}
