body {
	display: flex;
	flex-direction: column;
	/*height: 100vh;*/
	background: #151515;
	align-items: center;
	
}
div {
	border-width: 5px;
	border-color: red;
}

.header {
	background: green;
	height: 350px;
	width: 850px;
	display: flex;
	flex-direction: column;
}
.top-line{
	display: flex;
	justify-content: space-between;
}
.top-line ul {
	list-style: none;
	display: flex;
	gap: 5px;
}
.header .info {
	display: flex;
	padding: 50px;
	gap: 45px;
	justify-content: center;
}
.info .left-part {
	width: 300px;
	height: 150px;
	display: flex;
	flex-direction: column;
	background-color: #1f1f2f;
}
.info .right-part {
	width: 300px;
	height: 150px;
	background-color: gray;

}
.cards {
	background: aqua;
	height: 350px;
	width: 850px;

}
.quote {
	background: orange;
	height: 250px;
	width: 850px;
}
.signup {
	background: yellow;
	height: 200px;
	width: 850px;
}
.footer {
	background: purple;
	height: 60px;
	width: 850px;
}
